<!DOCTYPE html>
<html>
<head>
	<title>Make It Special</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<link rel="stylesheet" type="text/css" href="/monthly.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.5/slick.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/css?family=Gabriela|Rochester|Sarala" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
  	<script type="text/javascript" src="/monthly.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.5/slick.min.js"></script>
</head>
<body>
	<header>
		<nav class="navbar-material">
			<div class="nav-wrapper">
				<a href="/" class="brand-logo"><i class="material-icons">card_giftcard</i> Make It Special </a>
				<ul class="right">
					<% if(!user) { %>
						<li><a href="/product">Unique Gifts</a></li>
						<li><a href="/auth/login">Log in</a></li>
						<li><a href="/auth/signup">Sign Up</a></li>
					<% } else { %>
						<% if(user.admin){%>
							<li><a href="/profile/admins">Admin Page</a></li>
						<%}%>
							<li>Hello, <%=user.firstname%>!</li>
							<li><a href="/friend">Friends&Family</a></li>
							<li><a href="/calendar">Calendar</a></li>
							<li><a href="/product">Unique Gifts</a></li>
							<li><a href="/profile">Profile</a></li>
							<li><a href="/auth/logout">Logout</a></li>
					<% } %>
				</ul>
			</div>
		</nav>
	</header>
	<main>
			<% include partials/alerts %> 
			<%- body %>
	</main>
	<footer class="page-footer">
	 	<div class="container">
                <div class="row">
                    <div class="col l6 s12">
                    	<h5 class="white-text">
                    		Make It Special | Built with
                        	<i class="material-icons">favorite</i> by Kelly Park
                       	</h5>
                    </div>
                <div class="col l4 offset-l2 s12">
                    <ul class="footerFonts">
                        <li><a href="https://github.com/hayeun7777/makeitspecial">GitHub</a></li>
                        <li>Source Credits: <br>UncommonGoods & Etsy</li>
                    </ul>
                </div>
               </div>
               </div>
    </footer>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

	<script>
		document.addEventListener('DOMContentLoaded', function() {
		      var elems = document.querySelectorAll('.datepicker');
		      var instances = M.Datepicker.init(elems, {
		        autoClose: false,
		        minDate: new Date('01/01/1920'),
		        maxDate: new Date(), 
		        yearRange: [1920,2019]
				});
		      var elemT = document.querySelectorAll('.datepickerT');
		      var instanceT = M.Datepicker.init(elemT, {
		        autoClose: false,
		        minDate: new Date(),
		        maxDate: new Date('12/31/2030'), 
		        yearRange: [2019,2030]
				});
		  })
	</script>
</body>
</html>