body{
	font-family: 'Exo 2', sans-serif;
	display: flex;
    min-height: 100vh;
    flex-direction: column;
    height: 800px;
}

main{
	flex: 1 0 auto;
}

nav{
	background-color: #E1B8E8 !important;
	min-height: 50px;
	padding: 10px 0 0 15px;
}


nav a{
	text-decoration: none;
	font-size: 28px;
	color: white;
	font-family: 'Exo 2', sans-serif;
}

nav a:hover {
	color: #FFE2A7;

}

footer {
	background-color: #E1B8E8 !important;
}

.row{
	margin: 0 auto;
	padding: 1% 5%;
}

.profile{
	max-width: 250px;
	height: auto;
}

.homediv{
	background-color: #ECE7F0;
	font-family: 'Patrick Hand', cursive;
	padding: 20px;
}

.fixed-height{
	min-height: 60px;
}

.giftList{
	text-align: center;
	margin: 0 auto;
}

.giftList img{
	height: 200px;
	width: auto;
}

.customGift{
	display: block;
	max-width: 200px;
}

.tags{
	border: 1px purple solid;
	border-radius: 20px;
	padding: 2px 5px;
}

.searchWrap{
	border: 1px purple solid;
}

.tagDelete{
	background-color: transparent;
	margin: 0 auto;
	border: none;
}

/*not working yet*/
@media (max-width: 600px) {
  .navbar-material .nav-wrapper {
    height: 100px;
  }
}