body{
	font-family: 'Sarala', sans-serif;
	display: flex;
    min-height: 100vh;
    flex-direction: column;
    height: 800px;
}

main{
	flex: 1 0 auto;
}

nav{
	background-color: #FFFEF4 !important;
	min-height: 50px;
	padding: 10px 0 0 15px;
}

nav ul a{
	font-size: 20px !important;
}

nav a{
	text-decoration: none;
	color: #be7e7e !important;
	font-size: 28px;
	color: white;
	font-family: 'Rochester', cursive;
}

nav a:hover {
	color: #f994bb !important;
}

footer {
	background-color: #BAACBD !important;
}

.footerFonts{
	font-size: 18px;
}

.btn, .btn-large, .btn-small{
	background-color: #fb178a !important;
}

.textcenter{
	text-align: center;
}

.row{
	margin: 0 auto;
	padding: 1% 5%;
}

.profile{
	max-width: 250px;
	height: auto;
}

.homediv{
	background-color: #E7ECEF;
	font-family: 'Gabriela', serif;
	padding: 20px;
	border-radius: 10px;
}

.calendar-size{
	margin: 0 auto;
	width: 700px;
	height: 700px;
}

.eventList{
	color: gray;
	text-align: left;
	border: 1px #FBD58A solid;
	font-family: 'Gabriela', serif;
	margin: 10px auto;
	border-radius: 10px;
}

.wrapper{
	margin: 0 auto;
	position: relative;
	width: 80%;
	height: 420px;
}

.imagewrap img{
	position: absolute;
	margin: 0 auto;
	min-height: 220px;
	max-height: 250px;
	overflow: hidden;
}

.wraprest{
	position: absolute;
	margin: 0 auto;
	width: 100%;
}

.contentWrap{
	position: absolute;
	top: 80%;
	width: 90%;
}

.fixed-height{
	min-height: 60px;
}

.giftList img{
	height: 200px;
	width: auto;
}

.tagList {
	width: 100%;
	margin: 0 auto;
	position: absolute;
	top: 30%;
}
.customGift{
	display: block;
	max-width: 200px;
	max-height: 300px;
}

.tags{
	display: inline-block;
	margin: 3px auto;
	border: 1px purple solid;
	border-radius: 20px;
	padding: 2px 5px;
}

.searchWrap{
	border: 1px purple solid;
}

.tagDelete{
	background-color: transparent;
	margin: 0 auto;
	border: none;
}

/*
for the product slider for tag lists*/
.heroSlider-fixed{
	position: relative;
}

.slick-dots {
  text-align: center;
  margin: 0 0 10px 0;
  padding: 0;
}

.slick-dots li {
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
}

.slick-dots li.slick-active button {
  background-color: black;
}

.slick-dots li button {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: #999;
  border: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.slick-dots li :hover {
  background-color: black;
}

.prev {
  width: 100px;
  color: #999;
  position: absolute;
  display: inline-block !important;
  top: 38%;
  left: 30%;
  font-size: 1.5em;
  margin-top: 50px;
}

.prev :hover {
  cursor: pointer;
  color: black;
}

.next {
  width: 100px;
  color: #999;
  position: absolute;
  display: inline-block !important;
  top: 38%;
  left: 60%;
  font-size: 1.5em;
  margin-top: 50px;
}
.next :hover {
  cursor: pointer;
  color: black;
}
